/****************HEADER NAV ***********************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 240, 250);
    position: fixed; 
    height: 110px;
    top: 0; 
    left: 0; 
    right: 0;
}


.logo {
    width : 5em;
    height : 5em;
    padding-right: 2em;
    padding-left: 1.375em;
}

.header__nav {
    flex :1;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    width: 78%;
    padding-left: 15em;
    
}

.header__nav ul li {
    
    list-style: none;
}

.button {
    font-weight: bold;
    text-decoration: none;
    color: #ff7818;
}

@media screen and (max-device-width: 640px) {
    .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    }
}