.profil-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 2rem;
}


/******user photo********/

.profil-img {
    width: 154px;
    height : 154px;
    border-radius: 25px;
    margin-bottom: 2rem;
    object-fit: scale-down;
}



.img-text {
    padding-bottom: 22px;
}




/*****user inputs******/
.profil-input {
    height: 32px;
    box-sizing: content-box;
    margin: 16px;
}

/*****Formulaire*****/



.form-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 895px;
    height: 895px;
    border: solid 2px black;
    border-radius: 25px;
    border-width: 3px;
    margin-left: 430px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    margin-top: 1rem;
}
fieldset {
    border: 1px solid black;
    padding: 1Rem;
    margin-bottom: 1rem;
}
.form-body {
    text-align: center;
}
.form-user {
    text-align: left;
}
.form-submit{
    display: flex;
    justify-content: space-evenly;
}
input[type=submit] {
    text-align: center;
    padding: 0.5rem;
    background-color: #d7f0fa;
    border-radius: 0.2rem;
    border: none;
}
input[type=submit]:hover {
    background-color: rgb(40, 100, 100);
    color: #fff;
    transition: all 0.5s;
}