
.profil-title {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    font-size: x-large;
    
}


/******user photo********/

.profil-img {
    width: 154px;
    height : 154px;
    border-radius: 25px;
}



.img-text {
    padding-bottom: 22px;
}




/*****user inputs******/
.profil-input {
    height: 32px;
    box-sizing: content-box;
    margin: 16px;
}

/*****Formulaire*****/



.form-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 895px;
    height: 895px;
    border: solid 2px black;
    border-radius: 25px;
    border-width: 3px;
    margin-left: 430px;
}



