<footer class="bg-gray-800 py-5">

    <h3 class="text-3xl pb-5 text-center text-white">
        Retrouvez-nous ici
    </h3>

    <div class="mb5 flex space-x-6 justify-center text-white">

        <a href="#">
            <img src="/docs/fb.svg" alt="icone facebook" class="w-6">
        </a>

        <a href="#">
            <img src="/docs/instagram.svg" alt="icone instagram" class="w-6">
        </a>

        <a href="#">
            <img src="/docs/twitter.svg" alt="icone twitter" class="w-6">
        </a>

        <a href="#">
            <img src="/docs/github.svg" alt="icone github" class="w-6">
        </a>

    </div>

    <hr class="w-40 mx-auto mb-5">

    <p class="text-center mt-8 text-base text-gray-400 md:mt-0">
        &copy; 2022 GAMER'S ZONE, TOUS DROITS RÉSERVÉS
    </p>
    
</footer>

</body>
</html>