<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer's Zone</title>
    <link rel="stylesheet" href="/dist/output.css" type="text/css">
</head>
<body>

    
    <header class="bg-[url('/docs/neon.jpeg')] relative" >


        <%# Je crée ma grille avec 3 colonnes qui se reduiront une fois passé en responsive #%>
        <nav class="fixed top-0 z-20 bg-gray-50 p-4 w-full grid grid-cols-none shadow-md md:max-w-7xl md:grid-cols-menu md:shadow-none md:relative md:mx-auto md:bg-transparent">


            <div class="flex justify-between items-center md:justify-center">
                <a href="/" >
                    <img src="/docs/logos/2.svg" alt="logo accueil" class="w-12 md:w-20">
                </a>
    
              <button class="icone-toggle bg-white rounded-md p-2 ring-1 ring-black ring-opacity-20 md:hidden">
                <img src="/docs/logos/menu.svg" alt="icône hamburger"  class="h-6 w-6">
              </button>
            </div>
    
    
            <ul class="toggle-menu hidden px-1 pt-6 bg-gray-50 flex flex-col md:flex md:bg-transparent md:pt-0 md:flex-row md:space-x-10 md:w-auto md:items-center md:justify-center">
    
              <li class="py-2 text-center border-t border-gray-200 md:border-0">
                <a 
                 href="/"
                 class="font-medium text-lg text-zinc-800 md:text-gray-200 hover:text-gray-400">
                 Accueil
                </a>
              </li>
    
              <li class="py-2 text-center border-t border-gray-200 md:border-0">
                <a 
                 href="/categories"
                 class="font-medium text-lg text-zinc-800 md:text-gray-200 hover:text-gray-400">
                 Catégories
                </a>
              </li>
    
              <li class="py-2 text-center border-t border-gray-200 md:border-0">
                <a 
                href="/articles"
                class="font-medium text-lg text-zinc-800 md:text-gray-200 hover:text-gray-400"
                >Articles</a>
              </li>
    
              <li class="py-2 text-center border-t border-b border-gray-200 md:border-0">
                <a href="/contact" 
                   class="font-medium text-lg text-zinc-800 md:text-gray-200 hover:text-gray-400 ">
                    Contact
                </a>
              </li>

            
              <% if (locals.userInfo)  { %> 
    
                <li class="py-2 text-center border-gray-200 md:border-0 ">
                  <a class="font-medium text-lg text-indigo-800 hover:text-gray-600" href="/user/<%=locals.userInfo.id %>">
                      <%= locals.userInfo.user_name %>
                  </a>
                </li>
              <% } %> 
            </ul>


            <% if (locals.userInfo)  { %> 
    
              
               <div class="toggle-menu hidden flex justify-center items-center mt-6 md:mt-0 md:justify-end md:flex">
                    <a href="/logOut" class="shadow-md px-6 py-2 border font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 text-center w-35">
                        Déconnexion
                    </a>
                </div>
              </ul>
            <% } else  {  %>

                <div class="toggle-menu hidden flex justify-center items-center mt-6 md:mt-0 md:justify-end md:flex">
                    <a class="shadow-md px-6 py-2 border font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 text-center w-60" href="/login">
                       Se Connecter/S'inscrire
                    </a>
                </div>
            <% } %> 
            
            
            
            
          </nav>
    
        
    </header>
    
</body>


<%# Code JS pour ouvrir/fermer ma nav Bar en mode responsive #%>
<script>
    const menuElementsToToggle = document.querySelectorAll('.toggle-menu');

    const iconeToggle = document.querySelector('.icone-toggle');

    const toggleMenu = () => menuElementsToToggle.forEach(el => el.classList.toggle('hidden'));

    iconeToggle.addEventListener('click', toggleMenu);
</script>



