<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/articles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/signup.css">
    

    <title>Gamer's Zone</title>
</head>
<body>
    
        <header class="header">
        <img src="/docs/2.png"  class="logo" alt="Logo Accueil">
        <nav class="header__nav">
            <ul>
                <li><a class="button button--menu" href="/">Accueil</a></li>
                <li><a class="button button--menu" href="/categories">Catégories</a></li>
                <li><a class="button button--menu" href="/articles">Articles</a></li>
                <li><a class="button button--menu" href="/contact">Contact</a></li>
                
                <% if (locals.userInfo)  { %> 
                    <li><a class="button button--menu" href="/user/<%=locals.userInfo.id %>" >
                    <%= locals.userInfo.user_name %>
                    </a></li>
                <% } else  {  %>
                <li><a class="button button--menu" href="/Login">Se Connecter/s'inscrire</a></li>
                <% } %> 
            </ul>
        </nav>
    </header>
    