<%- include('./partial/header') %>

<section class="bg-[url('/docs/stylish-mesh-bg.jpg')] relative" >
    <div id="accueil" class="px-4 text-center pt-40 pb-56 sm:pb-80 md:pt-20">

        <h1 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">BIENVENUE SUR </span>
            <span class="block text-blue-600 xl:inline">GAMER'S ZONE</span>
        </h1>
        <p class="mt-3 max-w-sm mx-auto text-gray-700 sm:text-lg md:mt-5 md:text-xl md:max-w-2xl lg:max-w-3xl">
            Tu es un pationné de l'univers des jeux vidéos? Alors n'attends plus, rejoins les centaines de gamers déjà inscrits et profites des dernières news ! Restes connecté, de nouvelles mises à jours vont bientôt débarquer .
        </p>

        <div class="mt-5 max-w-md mx-auto flex justify-center items-center flex-col space-y-5 sm:space-y-0 sm:flex-row md:mt-8">

            <a href="/login" class="min-w-[250px] rounded-md shadow  px-8 py-3 text-sm font-medium text-white 
                                    bg-blue-600 sm:text-base md:mr-3 md:min-w-fit md:py-4 md:text-lg md:px-10">
                Je me connecte 🚀
            </a>

            <a href="/signup" class="min-w-[250px] rounded-md shadow px-8 py-3 text-sm font-medium text-zinc-800 
                                     ring-1 ring-gray-200 bg-white hover:bg-gray-50 sm:text-base md:py-4 md:min-w-fit md:text-lg md:px-10">
                Je m'inscrit 🕹️
            </a>
        </div>
    
    </div>

    <div class="absolute bottom-4 left-1/2 -translate-x-1/2 md:bottom-10">
        <a href="#services" class="animate-bounce bg-white p-2 w-12 h-12 ring-1 ring-slate-900/5 shadow-lg rounded-full flex  items-center justify-center sm:w-16 sm:h-16">
            <svg class="w-6 h-6 text-violet-500 sm:w-8 h-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
              </svg>
        </a>

    </div>
</section>

<section id="services" class=" relative flex flex-col lg:flex-row">
    <div class="cta-striper-bg px-10 pb-16 pt-10 w-full order-2 text-center md:py-32 lg:w-1/2 lg:order-1 ">
        <h2 class="font-extrabold text-gray-800 text-2xl sm:text-3xl md:text-5xl">
            <span class="block">PASSES À L'ACTION</span>
            <span class="block text-blue-800">Découvres nos articles</span>
        </h2>
        <p class="mt-3 text-md mx-auto text-gray-800 max-w-xs sm:text-xl md:mt-5 max-w-md">
            Envie d'un petit avant-goût? N'hésites pas à jetter un oeil, bientôt ça sera toi qui pourras nous présenter tes belles trouvailles ! 
        </p>
        <a href="/articles" class="min-w-[200] bg-blue-600 mt-5 mx-auto inline-block px-8 py-3 border-transparent font-medium rounded-md text-white text-md md:mt-10 md:text-xl">
            À moi de jouer 🔥
        </a>
    </div>

    <div class="h-96 w-full relative overflow-hidden order-1 lg:static lg:w-1/2 lg:h-full lg:order-2">
        <img src="/docs/gamers.jpg" alt="image deux gamers" class="absolute w-full h-full object-cover obejct-center lg:w-1/2">
    </div>

</section>



<section class="bg-gradient-to-r from-blue-700 to-blue-400 py-12 px-4 text-center sm:py-16 sm:px-6 lg:px-8 lg:py-20">
    <h2 class="text-3xl font-extrabold text-white md:text-5xl">
        3K+ Gamers déjà convincus
    </h2>

    <p class="mt-3 px-4 text-md text-indigo-200 sm:text-xl sm:mt-4">
        Vous nous faites confiance et on vous le rends !
    </p>

    <div class="flex justify-center items-center mt-10 flex-col space-y-10 sm:space-y-0 sm:space-x-10 sm:flex-row">

        <div class="flex flex-col justify-center items-center">
            <p class="text-4xl font-extrabold text-white md:text-5xl">100%</p>
            <p class="mt-2 text-lg font-medium text-indigo-200">Satisfaits</p>
        </div>

        <div class="flex flex-col justify-center items-center">
            <p class="text-4xl font-extrabold text-white md:text-5xl">24/7</p>
            <p class="mt-2 text-lg font-medium text-indigo-200">Support</p>
        </div>

        <div class="flex flex-col justify-center items-center">
            <p class="text-4xl font-extrabold text-white md:text-5xl">+10K</p>
            <p class="mt-2 text-lg font-medium text-indigo-200">Nouveaux articles à venir</p>
        </div>


    </div>
</section>




<%- include('./partial/footer') %>