<%- include('./partial/header') %>

<div class="form-signup">
    <form action="/addUser" method="post">
      <h1>Inscription</h1>
  

      <div class="form-user">
        <label for="name">*Pseudo :</label>
        <input type="text" name="name" id="name" placeholder="Pseudo" required>
      </div>
  
      <div class="form-user">
        <label for="email">*Adresse mail :</label>
        <input type="email" name="email" id="email" placeholder="E-mail" required>
      </div>
  
      <div class="form-user">
        <label for="birth_date">*Date de naissance :</label>
        <input type="date" name="birth_date" id="birthdate" placeholder="JJ/MM/AAAA" required>
      </div>
        
      <div class="form-user">
        <label for="password">*Mot De Passe :</label>
        <input type="password" name="password" id="password" placeholder="Mot De Passe" minlength="4" required >
        <p class="psw-legend legend">(4 characteres minimum)</p>
      </div>
      
      <div class="form-user">
        <label for="repeat_password">*Confirmer le mot de passe :</label>
        <input type="password" name="repeat_password" id="repeat-password" placeholder="Mot De Passe" minlength="4" required >
      </div>


      <p class="require-legend legend">* Champs requis</p>
  
      <div class="form-user">
        <input type="submit" value="Valider" class="button-signup">
      </div>
  
    </form>

    
  </div>


  
  <script>
    //Je récupère mes éléments html 
     const input = document.querySelector('#img-user');

     const imgUser = document.querySelector('.avatar');
     
     const imageSignupUser = () => {
        //avec.files je récupère le fichier déposé par l'utilisateur
        const file = input.files[0];

        const data = new FormData();

        data.append("file", file);

        data.append("upload_preset", "moql4kpg");//process.env.CLOUDINARY_UPLOAD_PRESET
        data.append("cloud_name","davhusrlb");//process.env.CLOUDINARY_CLOUD_NAME
        if (file) {
            fetch("https://api.cloudinary.com/v1_1/davhusrlb/upload", 
                {
                    method: "POST",
                    body: data
                }
            )
            //J'utiliser la méthode json de response pour avoir les données au format json
            .then(response => response.json())
            .then(data => {
              //data.url c'est la réponse que j'obtiens de l'API
              imgUser.setAttribute("src",data.url);
              input.value = data.url;
            })
            .catch(err => {
                console.error('error image', err);
            });
        }
    };
    
    avatar.addEventListener ('change',imageSignupUser);

  </script>


<%- include('./partial/footer') %>