<%- include('./partial/header') %>

<h1>BIENVENU DANS TON PROFIL EN ATTENDANT LA VERSION FINALE DE LA PAGE  ^^</h1>



    <% if (locals?.userInfo) { %>
     <p>connecté(e) en tant que</p>
     <b><%= locals?.userInfo.user_name %> </b>

    
    <% } else { %>
        <p>Pas d'infos trouvès !</p>
        <% }%>

    


<%- include('./partial/footer') %>